**Вариант 6.3**
* 1. Убираем список столбцов: 'id_07', 'id_08', 'id_21', 'id_22', 'id_24', 'id_25', 'id_26', 'id_23',  'id_27' (baseline)
* 2. Убираем столбцы, которые убрали после 2-й попытки - показавшие 0 в feature_importance и также имеющие высокие коэффициенты корреляции
* 3. Добавляем 3 столбца: сгруппированная карта, сгруппированный адрес, сгруппированный dist.
* 4. Убираем столбцец D9 - столбец со временем операции
* 5. Добавляем столбец с часами операции, вычисленными из TransactionDT, а также добавим день, вычисленный из TransactionDT
*  6.Удаляем TransactionDT
* 7. Удалили больше фич V оставили 274 фичи

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
%matplotlib inline

In [ ]:
import gc
import sys

In [ ]:
# ipython --cache-size=5

In [ ]:
 %reset Out

In [ ]:
path_to_data ='/content/drive/MyDrive/Classroom/F_out_04_02.csv'
feature_out= pd.read_csv(path_to_data)

In [ ]:
path_to_data = '/content/drive/MyDrive/Classroom/list_off_02_02.csv'
list_off= pd.read_csv(path_to_data)

In [ ]:
feature_out=feature_out.rename(columns = {'0': 'feature'})
list_off=pd.merge(list_off, feature_out, on='feature', how='outer')

In [ ]:
len(list_off)

105

In [ ]:
feat_out= ['id_07', 'id_08', 'id_21', 'id_22', 'id_24', 'id_25', 'id_26',
          'id_23',  'id_27', 'D9', 'V1', 'V9', 'V15', 'V16', 'V18', 'V21',
           'V22', 'V25', 'V27', 'V28', 'V31', 'V34', 'V40', 'V41', 'V42',
           'V46', 'V47', 'V50', 'V52','V57', 'V60', 'V65', 'V68', 'V74', 
           'V84', 'V88', 'V89', 'V92','V94', 'V103', 'V104', 'V111',
           'V112', 'V113', 'V114', 'V116','V117', 'V120', 'V121', 'V123',
           'V125', 'V138', 'V139', 'V140','V142', 'V144', 'V146', 'V147', 
           'V148', 'V152', 'V156', 'V157','V158', 'V161', 'V167', 'V168',
           'V170', 'V174', 'V175', 'V177','V179', 'V180', 'V181', 'V183',
           'V184', 'V185', 'V190', 'V191', 'V192', 'V193', 'V194', 'V197',
           'V199', 'V202', 'V204', 'V209', 'V210', 'V211', 'V213', 'V214',
           'V217', 'V218', 'V219', 'V221', 'V222', 'V223', 'V224', 'V225',
           'V227', 'V228', 'V230', 'V231','V233', 'V235', 'V236', 'V237', 
           'V238', 'V239', 'V240', 'V241','V242', 'V243', 'V244', 'V245',
           'V247', 'V248', 'V249', 'V251','V252', 'V253', 'V255', 'V256',
           'V257', 'V260', 'V261', 'V262','V263', 'V267', 'V269', 'V273',
           'V274', 'V276', 'V277', 'V278','V296', 'V297', 'V298', 'V302',
           'V305', 'V323', 'V324', 'V325','V327', 'V328', 'V329', 'V330',
           'V331', 'V336', 'V338']

In [ ]:
len(feat_out)

149

In [ ]:
addr_feature=['addr1', 'addr2']
card_feature=['card1', 'card2','card3', 'card4', 'card5', 'card6']
identity_feature= ['id_12','id_13', 'id_14', 'id_15', 'id_16', 'id_17',
                  'id_18', 'id_19', 'id_20', 'id_21', 'id_22',               
                  'id_23', 'id_27', 'id_28', 'id_29', 
                  'id_30', 'id_31', 'id_33', 'id_34',
                  'id_35', 'id_36', 'id_37', 'id_38']

In [ ]:
feature_m=['M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9']

In [ ]:
features_cat_itog=['ProductCD', 'P_emaildomain', 'R_emaildomain', 'DeviceType', 'DeviceInfo']
features_cat_itog=features_cat_itog+addr_feature+card_feature+identity_feature+feature_m

In [ ]:
numeric_features_itog=['TransactionID', 'TransactionDT', 'TransactionAmt', 'dist1',
                  'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9',
                  'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5',
                  'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14',
                  'D15', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9',
                  'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18',
                  'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27',
                  'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36',
                  'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45',
                  'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54',
                  'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63',
                  'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72',
                  'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81',
                  'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90',
                  'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99',
                  'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107',
                  'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115',
                  'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123',
                  'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131',
                  'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139',
                  'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147',
                  'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155',
                  'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163',
                  'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171',
                  'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179',
                  'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187',
                  'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195',
                  'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203',
                  'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211',
                  'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219',
                  'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227',
                  'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235',
                  'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243',
                  'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251',
                  'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259',
                  'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267',
                  'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275',
                  'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283',
                  'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291',
                  'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299',
                  'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307',
                  'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315',
                  'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323',
                  'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331',
                  'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

In [ ]:
feature_cat_for_cat=features_cat_itog.copy()
feature_cat_for_cat.extend(['card_card', 'dist', 'addr'])

In [ ]:
feature_cat_for_cat

['ProductCD',
 'P_emaildomain',
 'R_emaildomain',
 'DeviceType',
 'DeviceInfo',
 'addr1',
 'addr2',
 'card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_21',
 'id_22',
 'id_23',
 'id_27',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'card_card',
 'dist',
 'addr']

In [ ]:
# columns to convert to integer
column_to_int=['addr1', 'addr2', 'card2', 'card3', 'id_13','card5', 'id_14', 'id_17', 'id_18', 'id_19', 'id_20']

In [ ]:
feature_to_use=numeric_features_itog+features_cat_itog
print(len(feature_to_use))
for col in list_off:
  if col in feature_to_use:
    feature_to_use.remove(col)
  if col in numeric_features_itog:
    numeric_features_itog.remove(col)
  if col in features_cat_itog:
    features_cat_itog.remove(col)  
  if col in feature_cat_for_cat:
    feature_cat_for_cat.remove(col)
for col in feat_out:
  if col in column_to_int:
    column_to_int.remove(col)
  if col in feature_to_use:
    feature_to_use.remove(col)
  if col in numeric_features_itog:
    numeric_features_itog.remove(col)
  if col in features_cat_itog:
    features_cat_itog.remove(col)  
  if col in column_to_int:
    column_to_int.remove(col)
  if col in feature_cat_for_cat:
    feature_cat_for_cat.remove(col)   
print(len(feature_to_use))

418
274

In [ ]:
feature_to_use

['TransactionID',
 'TransactionDT',
 'TransactionAmt',
 'dist1',
 'dist2',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D6',
 'D7',
 'D8',
 'D10',
 'D11',
 'D12',
 'D13',
 'D14',
 'D15',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V17',
 'V19',
 'V20',
 'V23',
 'V24',
 'V26',
 'V29',
 'V30',
 'V32',
 'V33',
 'V35',
 'V36',
 'V37',
 'V38',
 'V39',
 'V43',
 'V44',
 'V45',
 'V48',
 'V49',
 'V51',
 'V53',
 'V54',
 'V55',
 'V56',
 'V58',
 'V59',
 'V61',
 'V62',
 'V63',
 'V64',
 'V66',
 'V67',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V75',
 'V76',
 'V77',
 'V78',
 'V79',
 'V80',
 'V81',
 'V82',
 'V83',
 'V85',
 'V86',
 'V87',
 'V90',
 'V91',
 'V93',
 'V95',
 'V96',
 'V97',
 'V98',
 'V99',
 'V100',
 'V101',
 'V102',
 'V105',
 'V106',
 'V107',
 'V108',
 'V109',
 'V110',
 'V115',
 'V118',
 'V119',
 'V122',
 'V124',
 'V126',
 'V127',
 'V128',
 'V129',
 'V130',
 'V131',
 'V132',
 'V133',
 'V134',
 'V135',
 'V136',
 'V137',
 'V141',
 'V143',
 'V145',
 'V149',
 'V150',
 'V151',
 'V153',
 'V154',
 'V155',
 'V159',
 'V160',
 'V162',
 'V163',
 'V164',
 'V165',
 'V166',
 'V169',
 'V171',
 'V172',
 'V173',
 'V176',
 'V178',
 'V182',
 'V186',
 'V187',
 'V188',
 'V189',
 'V195',
 'V196',
 'V198',
 'V200',
 'V201',
 'V203',
 'V205',
 'V206',
 'V207',
 'V208',
 'V212',
 'V215',
 'V216',
 'V220',
 'V226',
 'V229',
 'V232',
 'V234',
 'V246',
 'V250',
 'V254',
 'V258',
 'V259',
 'V264',
 'V265',
 'V266',
 'V268',
 'V270',
 'V271',
 'V272',
 'V275',
 'V279',
 'V280',
 'V281',
 'V282',
 'V283',
 'V284',
 'V285',
 'V286',
 'V287',
 'V288',
 'V289',
 'V290',
 'V291',
 'V292',
 'V293',
 'V294',
 'V295',
 'V299',
 'V300',
 'V301',
 'V303',
 'V304',
 'V306',
 'V307',
 'V308',
 'V309',
 'V310',
 'V311',
 'V312',
 'V313',
 'V314',
 'V315',
 'V316',
 'V317',
 'V318',
 'V319',
 'V320',
 'V321',
 'V322',
 'V326',
 'V332',
 'V333',
 'V334',
 'V335',
 'V337',
 'V339',
 'ProductCD',
 'P_emaildomain',
 'R_emaildomain',
 'DeviceType',
 'DeviceInfo',
 'addr1',
 'addr2',
 'card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9']

In [ ]:
feature_cat_for_cat

['ProductCD',
 'P_emaildomain',
 'R_emaildomain',
 'DeviceType',
 'DeviceInfo',
 'addr1',
 'addr2',
 'card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'card_card',
 'dist',
 'addr']

In [ ]:
# create some new feature
def add_feature(data):
  #groupe card data in one
  data['card_card']=data['card1'].astype(str)+\
                             data['card2'].astype(str) +\
                             data['card3'].astype(str)+\
                             data['card4']+data['card6']+\
                             data['card5'].astype(str)
  # group dist in one
  data['dist']=data['dist1'].astype(str)+data['dist2'].astype(str) 
  # group address in one
  data['addr']=data['addr1'].astype(str)+data['addr2'].astype(str) 
  #create  hour column
  data["Hr"] = data["TransactionDT"]/(60*60)%24//1/24
  #create  day column
  data['day']=data["TransactionDT"]/(60*60)%24//1
  data.drop(columns='TransactionDT', inplace=True)
  # data['Std']=data.groupby('card1')['TransactionAmt'].transform(lambda x: (x - x.mean()))
  return data

In [ ]:
# clean some categorical columns
def clean_columns(data):
  for col in column_to_int:
    if data[col].dtype==np.float:
      data[col]=data[col].apply(lambda x: '{0:.0f}'.format(x))
  for col in feature_cat_for_cat:
    data[col].fillna(' ', inplace=True)
    data[col].replace('nan', ' ', inplace=True)
  return data

In [ ]:
f=numeric_features_itog
f.remove('TransactionDT')

In [ ]:
#downcast some numeric columns
def downcasting_num_columns(data):
  
  for col in f:
    if data[col].dtype==float:
      # downcasting a float column
      data[col] = pd.to_numeric(data[col], downcast='float')
    elif  data[col].dtype==int: 
      # downcasting an integer column
      data[col] = pd.to_numeric(data[col], downcast='unsigned')
  return data

In [ ]:
path_to_data = '/content/drive/MyDrive/Classroom/data_train_full_isFraud_03_02_reduced.csv'
X = pd.read_csv(path_to_data,  usecols=feature_to_use)
X.head()

   TransactionID  TransactionDT  ...  DeviceType                     DeviceInfo
0        2987000          86400  ...         NaN                            NaN
1        2987001          86401  ...         NaN                            NaN
2        2987002          86469  ...         NaN                            NaN
3        2987003          86499  ...         NaN                            NaN
4        2987004          86506  ...      mobile  SAMSUNG SM-G892A Build/NRD90M

[5 rows x 274 columns]

In [ ]:
X=add_feature(X)

In [ ]:
X=clean_columns(X)

In [ ]:
X[column_to_int]

In [ ]:
X[feature_m]

In [ ]:
gc.collect()

242

In [ ]:
X=downcasting_num_columns(X)

In [ ]:
sys.getsizeof(X) / 1024 ** 2

1990.8188076019287

In [ ]:
X

        TransactionID  TransactionAmt ProductCD  ...       addr        Hr   day
0             2987000       68.500000         W  ...  315.087.0  0.000000   0.0
1             2987001       29.000000         W  ...  325.087.0  0.000000   0.0
2             2987002       59.000000         W  ...  330.087.0  0.000000   0.0
3             2987003       50.000000         W  ...  476.087.0  0.000000   0.0
4             2987004       50.000000         H  ...  420.087.0  0.000000   0.0
...               ...             ...       ...  ...        ...       ...   ...
590535        3577535       49.000000         W  ...  272.087.0  0.958333  23.0
590536        3577536       39.500000         W  ...  204.087.0  0.958333  23.0
590537        3577537       30.950001         W  ...  231.087.0  0.958333  23.0
590538        3577538      117.000000         W  ...  387.087.0  0.958333  23.0
590539        3577539      279.950012         W  ...  299.087.0  0.958333  23.0

[590540 rows x 417 columns]

In [ ]:
from sklearn.model_selection import cross_val_score, train_test_split

In [ ]:
path_to_data = '/content/drive/MyDrive/Classroom/data_train_full_isFraud_03_02_reduced.csv'
y = pd.read_csv(path_to_data,  usecols=['isFraud'])
y.head()

   isFraud
0        0
1        0
2        0
3        0
4        0

In [ ]:
X_train, X_validate, y_train, y_validate = train_test_split(X, y,
                                              test_size=0.25, random_state=42)

In [ ]:
del X
gc.collect()

88

In [ ]:
path_to_data = '/content/drive/MyDrive/Classroom/data_test_isFraud_03_02_reduced.csv'
X_test = pd.read_csv(path_to_data,  usecols=feature_to_use)
X_test.head()

   TransactionID  TransactionDT  TransactionAmt  ... id_38  DeviceType  DeviceInfo
0        3663549       18403224           31.95  ...   NaN         NaN         NaN
1        3663550       18403263           49.00  ...   NaN         NaN         NaN
2        3663551       18403310          171.00  ...   NaN         NaN         NaN
3        3663552       18403310          284.95  ...   NaN         NaN         NaN
4        3663553       18403317           67.95  ...   NaN         NaN         NaN

[5 rows x 274 columns]

In [ ]:
X_test=add_feature(X_test)

In [ ]:
X_test=clean_columns(X_test)

In [ ]:
X_test[column_to_int]

       addr1 addr2 card2 card3 id_13 card5 id_14 id_17 id_18 id_19 id_20
0        170    87   111   150         226
1        299    87   111   150         226
2        472    87   574   150         226
3        205    87   360   150         166
4        264    87   452   150         117
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
506686   284    60   375   185         224
506687               408   185    27   224         225    15   176   507
506688   327    87   490   150         226
506689   177    87   516   150         224
506690               168   144    27   147         225         266   127

[506691 rows x 11 columns]

In [ ]:
X_test[feature_m]

       M1 M2 M3  M4 M5 M6 M7 M8 M9
0       T  T  F         F  T  T  T
1       T  F  F  M0     F
2       T  T  F  M0  F  F  F  F  F
3       T  T  T         T
4       T  T  T         F  F  T  T
...    .. .. ..  .. .. .. .. .. ..
506686           M2
506687           M2
506688  T  T  T  M0  F  F  F  T  T
506689  T  T  T  M0  F  F  F  F  F
506690           M2

[506691 rows x 9 columns]

In [ ]:
gc.collect()

53

In [ ]:
sys.getsizeof(X_test) / 1024 ** 2

2157.698925971985

In [ ]:
X_test=downcasting_num_columns(X_test)

In [ ]:
sys.getsizeof(X_test) / 1024 ** 2

1709.272442817688

In [ ]:
gc.collect()

52

In [ ]:
ID=X_test['TransactionID']
ID.to_csv('/content/drive/MyDrive/Classroom/ID_05_02.csv', index=False)

Сохраняем данные

In [ ]:
X_train.to_csv('/content/drive/MyDrive/Classroom/X_train_06_02_try6_4.csv', index=False)

In [ ]:
X_validate.to_csv('/content/drive/MyDrive/Classroom/X_validate_06_02_try6_4.csv', index=False)

In [ ]:
X_test.to_csv('/content/drive/MyDrive/Classroom/X_test_06_02_try6_4.csv', index=False)

In [ ]:
y_train.to_csv('/content/drive/MyDrive/Classroom/y_train_06_02_try65_4.csv', index=False)

In [ ]:
y_validate.to_csv('/content/drive/MyDrive/Classroom/y_validatet_06_02_try6_4.csv', index=False)